python-dotenv==1.0.1
pymupdf==1.24.10
pdfplumber==0.11.4
langchain==0.3.7
langchain-text-splitters==0.3.2
langchain-community==0.3.7
sentence-transformers==3.2.1
rank-bm25==0.2.2
chromadb==0.5.18
groq==0.11.0
openai==1.54.3
torch==2.5.1
transformers==4.46.2
datasets==3.1.0
scikit-learn==1.5.2
pandas==2.2.3
numpy==1.26.4
pytest==8.3.3
tqdm==4.67.0
